<%= form_for @question do |f| %>

    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited
            this article from being saved:</h2>
          <ul>
            <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </p>

    <p>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.text_area :email %>
    </p>

    <p>
      <%= f.label :phone %>
      <%= f.text_area :phone %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>