<%= link_to 'Back', questions_path %>
<p>
  Question ID: <%= @question.id %>
</p>
<p>
   Title: <%= @question.title %>
</p>
<p>
    Content: <%= @question.content %>
</p>
<p>
  <%= link_to 'Edit', edit_question_path(@question) %>
</p>

<%= form_for ([@question, @question.answers.build]) do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :content %>
      <%= f.text_area :content, rows: 5, cols: 50 %>
    </p>

    <p>
      <%= f.label 'Fee Estimate' %>
      <%= f.text_field :estimated_fee %>
    </p>

    <p>
      <%= f.label 'Estimated Time' %>
      <%= f.text_field :estimated_time %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<h2>Answers</h2>
<%= render @question.answers %>