<%= link_to 'Back', questions_path %>
<p>
  Question ID: <%= @question.id %>
</p>
<p>
   Title: <%= @question.title %>
</p>
<p>
    Content: <%= @question.content %>
</p>
<p>
  <%= link_to 'Edit', edit_question_path(@question) %>
</p>