<div style="text-align: center;">
<div class="row">

    <h1><%= @lawyer.name %></h1>

</div>

<div class="row">

    <p>ID: <%= @lawyer.id %></p>
    <p>Name: <%= @lawyer.name %></p>
    <p>Registration Number: <%= @lawyer.registration_number %></p>
    <p>Address: <%= @lawyer.address %></p>
    <p>Phone: <%= @lawyer.phone %></p>

</div>

</div>